
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --indigo-primary: #4f46e5;
}

body {
  @apply bg-slate-50 text-slate-900;
  -webkit-tap-highlight-color: transparent;
}

/* 美化滚动条 */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}

/* 打印样式优化 */
@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
}
